In [28]:
dict1 = {'a':'b', 'b':'c', 'c':'d', 'd':'e', 'e':'f', 'f':'a'}

result = 0
longest = 0 

for key in dict1.keys():
    dest = key
    key = dict1[key]
    while dest != key:
        key = dict1[key]
        longest += 1
    if longest > result:
        result = longest
    longest = 0

print(result)

5

In [29]:
dict2 ={'a':'b', 'b':'a'}

result = 0
longest = 0

for key in dict2.keys():
    dest = key
    key = dict2[key]
    while dest != key:
        key = dict2[key]
        longest += 1
    if longest > result:
        result = longest
    longest = 0

print(result)

1

In [1]:
import pandas as pd

df = pd.read_csv("heart.csv")

In [3]:
df.shape

(303, 14)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
df['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [17]:
import numpy as np

df['target'].value_counts(1)

1    0.544554
0    0.455446
Name: target, dtype: float64

In [21]:
df[(df.target ==  1) ].describe()[1:2]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,percent
mean,52.49697,0.563636,1.375758,129.30303,242.230303,0.139394,0.593939,158.466667,0.139394,0.58303,1.593939,0.363636,2.121212,1.0,0.606061

In [19]:
df[(df.target ==  0)].describe()[1:2]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,percent
mean,56.601449,0.826087,0.478261,134.398551,251.086957,0.15942,0.449275,139.101449,0.550725,1.585507,1.166667,1.166667,2.543478,0.0,0.0

In [26]:
dummy = pd.get_dummies(df['cp'])
dummy1= pd.get_dummies(df['thal'])
dummy2= pd.get_dummies(df['slope'])
df=pd.concat([df,dummy,dummy1,dummy2],axis=1)
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,1,2,3,0,1,2,3,0,1,2
0,63,1,3,145,233,1,0,150,0,2.3,...,0,0,1,0,1,0,0,1,0,0
1,37,1,2,130,250,0,1,187,0,3.5,...,0,1,0,0,0,1,0,1,0,0
2,41,0,1,130,204,0,0,172,0,1.4,...,1,0,0,0,0,1,0,0,0,1
3,56,1,1,120,236,0,1,178,0,0.8,...,1,0,0,0,0,1,0,0,0,1
4,57,0,0,120,354,0,1,163,1,0.6,...,0,0,0,0,0,1,0,0,0,1

In [28]:
df.shape

(303, 52)

In [36]:
df.drop(['thal', 'slope'],axis=1)

,age,sex,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,ca,...,1,2,3,0,1,2,3,0,1,2
0,63,1,145,233,1,0,150,0,2.3,0,...,0,0,1,0,1,0,0,1,0,0
1,37,1,130,250,0,1,187,0,3.5,0,...,0,1,0,0,0,1,0,1,0,0
2,41,0,130,204,0,0,172,0,1.4,0,...,1,0,0,0,0,1,0,0,0,1
3,56,1,120,236,0,1,178,0,0.8,0,...,1,0,0,0,0,1,0,0,0,1
4,57,0,120,354,0,1,163,1,0.6,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,140,241,0,1,123,1,0.2,0,...,0,0,0,0,0,0,1,0,1,0
299,45,1,110,264,0,1,132,0,1.2,0,...,0,0,1,0,0,0,1,0,1,0
300,68,1,144,193,1,1,141,0,3.4,2,...,0,0,0,0,0,0,1,0,1,0
301,57,1,130,131,0,1,115,1,1.2,1,...,0,0,0,0,0,0,1,0,1,0
302,57,0,130,236,0,0,174,0,0.0,1,...,1,0,0,0,0,1,0,0,1,0

In [40]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score

In [41]:
X = df.drop('target',axis=1)
y= df['target']

In [42]:
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [43]:
X_train

,age,sex,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,...,1,2,3,0,1,2,3,0,1,2
132,42,1,120,295,0,1,162,0,0.0,2,...,1,0,0,0,0,1,0,0,0,1
202,58,1,150,270,0,0,111,1,0.8,2,...,0,0,0,0,0,0,1,0,0,1
196,46,1,150,231,0,1,147,0,3.6,1,...,0,1,0,0,0,1,0,0,1,0
75,55,0,135,250,0,0,161,0,1.4,1,...,1,0,0,0,0,1,0,0,1,0
176,60,1,117,230,1,1,160,1,1.4,2,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,50,1,140,233,0,1,163,0,0.6,1,...,0,1,0,0,0,0,1,0,1,0
71,51,1,94,227,0,1,154,1,0.0,2,...,0,1,0,0,0,0,1,0,0,1
106,69,1,160,234,1,0,131,0,0.1,1,...,0,0,1,0,0,1,0,0,1,0
270,46,1,120,249,0,0,144,0,0.8,2,...,0,0,0,0,0,0,1,0,0,1
102,63,0,140,195,0,1,179,0,0.0,2,...,1,0,0,0,0,1,0,0,0,1

In [44]:
models = {"Logistic Regression": LogisticRegression(),
          "KNN": KNeighborsClassifier(),
          "Random Forest": RandomForestClassifier()}

def fit_and_score(models, X_train, X_test, y_train, y_test):
    np.random.seed(42)
    model_scores = {}
    for name, model in models.items():
        model.fit(X_train, y_train)
        model_scores[name] = model.score(X_test, y_test)
    return model_scores

In [45]:
model_scores = fit_and_score(models=models,
                             X_train=X_train,
                             X_test=X_test,
                             y_train=y_train,
                             y_test=y_test)

model_scores

/Users/terencechan/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/terencechan/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/terencechan/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/terencechan/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/terencechan/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/terencechan/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Users/terencechan/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

{'Logistic Regression': 0.9672131147540983,
 'KNN': 0.6885245901639344,
 'Random Forest': 1.0}